[submodule "themes/book"]
	path = themes/book
	url = https://github.com/getzola/book.git
[submodule "themes/DeepThought"]
	path = themes/DeepThought
	url = https://github.com/RatanShreshtha/DeepThought.git
